- name: Récupérer l'UID de admin_db
  ansible.builtin.command: id -u admin_db
  register: admin_db_uid
  changed_when: false

# - name: Cloner le repo app dans la VM
  # ansible.builtin.git:
    # repo: {{ repo_url }}
    # dest: "/home/{{ docker_user }}/app"
    # version: main
  # become: true
  # become_user: "{{ docker_user }}"

- name: Copier le code app dans la VM
  ansible.builtin.synchronize:
    src: "../../app/"
    dest: "/home/{{ docker_user }}/app"
    recursive: yes
  become: true
  become_user: "{{ docker_user }}"

- name: Déployer l'app et la db via docker_compose
  become: true
  become_user: "{{ docker_user }}"
  community.docker.docker_compose_v2:
    project_src: "/home/{{ docker_user }}/app"
    files:
      - docker-compose.yaml
    state: present
    build: always
    docker_cli: "/home/{{ docker_user }}/bin/docker"
    docker_host: "unix:///run/user/{{ admin_db_uid.stdout }}/docker.sock"
  when: inventory_hostname == 'vm1'

- name: Vérifier que le container master est en ligne
  community.docker.docker_container_info:
    name: pg_master
    docker_host: "unix:///run/user/{{ admin_db_uid.stdout }}/docker.sock"
  register: master_info
  when: inventory_hostname == 'vm1'

- name: Debug info master
  debug:
    var: master_info
  when: inventory_hostname == 'vm1'
