- name: Récupérer l'UID de admin_db
  ansible.builtin.command: id -u admin_db
  register: admin_db_uid
  changed_when: false

- name: Copier le code app dans la VM
  ansible.builtin.synchronize:
    src: "{{ playbook_dir }}/../app/"
    dest: "/home/{{ docker_user }}/app"
    recursive: yes
  become: true
  become_user: "{{ docker_user }}"

- name: Générer le fichier .env pour Laravel
  ansible.builtin.template:
    src: "templates/env.j2"
    dest: "/home/{{ docker_user }}/app/.env"
    owner: "{{ docker_user }}"
    group: "{{ docker_user }}"
    mode: "0644"
  when: inventory_hostname == 'vm1'

- name: Déployer l'app et la db via docker_compose
  become: true
  become_user: "{{ docker_user }}"
  community.docker.docker_compose_v2:
    project_src: "/home/{{ docker_user }}/app"
    files:
      - docker-compose.yaml
    state: restarted
    build: always
    docker_cli: "/home/{{ docker_user }}/bin/docker"
    docker_host: "unix:///run/user/{{ admin_db_uid.stdout }}/docker.sock"
  when: inventory_hostname == 'vm1'

- name: Vérifier que le container master est en ligne
  community.docker.docker_container_info:
    name: db
    docker_host: "unix:///run/user/{{ admin_db_uid.stdout }}/docker.sock"
  register: master_info
  when: inventory_hostname == 'vm1'

- name: Debug info master
  debug:
    var: master_info
  when: inventory_hostname == 'vm1'
