- name: Ensure swap file directory exists
  ansible.builtin.file:
    path: /swap
    state: directory
    mode: '0755'

- name: Create 8GB swap file
  ansible.builtin.command: "fallocate -l 8G /swap/swapfile"
  args:
    creates: /swap/swapfile

- name: Set correct permissions for swap file
  ansible.builtin.file:
    path: /swap/swapfile
    mode: '0600'

- name: Check if swap is already enabled
  ansible.builtin.shell: "grep -q '/swap/swapfile' /proc/swaps"
  register: swap_check
  ignore_errors: true

- name: Disable swap if already active on the swap file
  ansible.builtin.command:
    cmd: "swapoff /swap/swapfile"
  when: swap_check.rc == 0  # Désactiver le swap si déjà activé
  ignore_errors: true  # Ignorer si swapoff échoue pour une autre raison

- name: Format swap file
  ansible.builtin.command:
    cmd: "mkswap /swap/swapfile"
  when: swap_check.rc != 0  # Formater le swap seulement si non activé
  args:
    creates: /dev/mapper/swap

- name: Enable swap file
  ansible.builtin.command:
    cmd: "swapon /swap/swapfile"
  args:
    creates: /proc/swaps

- name: Add swap entry to /etc/fstab
  ansible.builtin.lineinfile:
    path: /etc/fstab
    line: '/swap/swapfile none swap sw 0 0'
    create: true
    state: present
