---
# tasks file for traefik
- name: Create directory /home/admin_db/traefik
  ansible.builtin.file:
    path: /home/admin_db/traefik
    state: directory
    owner: admin_db
    group: admin_db
    mode: '0755'
- name: Copy Traefik configuration file to the virtual machine
  copy:
    src: "{{ role_path }}/templates/traefik.yml"
    dest: /home/admin_db/traefik/traefik.yml
    mode: "0644"

- name: Copy Traefik configuration file to the virtual machine
  copy:
    src: "{{ role_path }}/templates/Dockerfile"
    dest: /home/admin_db/traefik/Dockerfile
    mode: "0644"

