---
# tasks file for traefik
- name: Create directory /home/admin_db/traefik
  ansible.builtin.file:
    path: /home/admin_db/traefik
    state: directory
    owner: admin_db
    group: admin_db
    mode: '0755'

- name: Create directory /home/admin_db/traefik/files
  ansible.builtin.file:
    path: /home/admin_db/traefik/files
    state: directory
    owner: admin_db
    group: admin_db
    mode: '0755'

- name: Copy Traefik configuration file to the virtual machine
  copy:
    src: "{{ role_path }}/templates/traefik.yml"
    dest: /home/admin_db/traefik/files/traefik.yml
    mode: "0644"

# - name: Générer la config Traefik avec l'IP de la VM
  # ansible.builtin.template:
    # src: "{{ role_path }}/templates/traefik.yml.j2"
    # dest: /home/admin_db/traefik/files/traefik.yml
    # owner: admin_db
    # group: admin_db
    # mode: "0644"
  # vars:
    # app_host: "{{ vm_ip }}"
    # monitoring_host: "{{ vm_ip }}"

- name: Copy Traefik configuration file to the virtual machine
  copy:
    src: "{{ role_path }}/templates/Dockerfile"
    dest: /home/admin_db/traefik/Dockerfile
    mode: "0644"

- name: Générer le fichier .env pour Laravel
  ansible.builtin.template:
    src: "templates/dockerignore.j2"
    dest: "/home/admin_db/traefik/.dockerignore"
    owner: "admin_db"
    group: "admin_db"
    mode: "0644"
  when: inventory_hostname == 'vm1'

- name: Generate private key
  community.crypto.openssl_privatekey:
    path: "/home/admin_db/traefik/files/{{ key_name }}"
    size: "{{ key_size }}"
    state: present

- name: Generate self-signed certificate
  community.crypto.x509_certificate:
    path: "/home/admin_db/traefik/files/{{ cert_name }}"
    privatekey_path: "/home/admin_db/traefik/files/{{ key_name }}"
    provider: selfsigned
    selfsigned_digest: sha256
    selfsigned_version: 3
    state: present

- name: Set ownership of Traefik files
  ansible.builtin.file:
    path: /home/admin_db/traefik/files
    owner: admin_db
    group: admin_db
    recurse: yes
    state: directory

- name: Set permissions for Traefik private key
  ansible.builtin.file:
    path: /home/admin_db/traefik/files/traefik.key
    mode: '0600'
    owner: admin_db
    group: admin_db
    state: file

- name: Set permissions for Traefik certificate
  ansible.builtin.file:
    path: /home/admin_db/traefik/files/traefik.crt
    mode: '0644'
    owner: admin_db
    group: admin_db
    state: file