---
# tasks file for traefik
- name: Create directory /home/admin_db/traefik
  ansible.builtin.file:
    path: /home/admin_db/traefik
    state: directory
    owner: admin_db
    group: admin_db
    mode: '0755'
- name: Copy Traefik configuration file to the virtual machine
  copy:
    src: "{{ role_path }}/templates/traefik.yml"
    dest: /home/admin_db/traefik/traefik.yml
    mode: "0644"

- name: Copy Traefik configuration file to the virtual machine
  copy:
    src: "{{ role_path }}/templates/Dockerfile"
    dest: /home/admin_db/traefik/Dockerfile
    mode: "0644"

- name: Remove old docker image if it exists
  docker_image:
      source: local
      name: traefik_ms_build
      tag: latest
      force_absent: true
  ignore_errors: yes

- name: Build Docker image
  community.docker.docker_image:
    name: traefik_ms_build
    tag: latest
    state: present
    build:
      dockerfile: Dockerfile
      path: /home/admin_db/traefik/
    source: build
