- name: Générer le hash SHA-512 sur la cible (no_log pour ne pas l'afficher)
  ansible.builtin.command: "openssl passwd -6 {{ admin_password }}"
  register: passwd_hash
  no_log: true

- name: Vérifier si l'utilisateur admin_db existe déjà
  ansible.builtin.getent:
    database: passwd
    name: admin_db
  register: result
  failed_when: false

- name: Créer un utilisateur admin_db + mettre un mdp + sudo + accès ssh
  ansible.builtin.user:
    name: admin_db
    password: "{{ passwd_hash.stdout }}"
    groups: wheel
    shell: /bin/bash
    create_home: yes
  when: result is not defined
  no_log: false

- name: Vérifier que l'utilisateur admin_db a été créé
  ansible.builtin.getent:
    database: passwd
    name: admin_db
  register: result_user_created
  failed_when: false

- name: Autoriser les membres du groupe wheel à utiliser sudo
  ansible.builtin.lineinfile:
    path: /etc/sudoers
    regexp: '^# %wheel'
    line: '%wheel ALL=(ALL) NOPASSWD: ALL'
    validate: '/usr/sbin/visudo -cf %s'

- name: Vérifie le chemin de l'interpréteur Python utilisé par Ansible
  ansible.builtin.debug:
    var: ansible_python_interpreter

- name: Activer la persistance (linger) pour admin_db
  ansible.builtin.command: "loginctl enable-linger admin_db"
  failed_when: false
  args:
    creates: /var/lib/systemd/linger/admin_db
