#- name: Mettre la langue en anglais
 # ansible.builtin.command: localectl set-locale lang=EN_us.UTF-8

#- name: Mettre le keymap en us
  #ansible.builtin.command: localectl set-keymap us

- name: Générer le hash SHA-512 sur la cible (no_log pour ne pas l'afficher)
  ansible.builtin.command: "openssl passwd -6 {{ admin_password }}"
  register: passwd_hash
  no_log: true

- name: Créer un utilisateur admin_db + mettre un mdp + sudo + accès ssh
  ansible.builtin.user:
    name: admin_db
    password: "{{ passwd_hash.stdout }}"
    groups: wheel
    shell: /bin/bash
    create_home: yes
  no_log: true

- name: Autoriser l’authentification par mot de passe SSH
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PasswordAuthentication'
    line: 'PasswordAuthentication yes'
    state: present

- name: S'assurer que SSH est actif et lancé
  ansible.builtin.service:
    name: sshd
    state: started
    enabled: yes

- name: Vérifie le chemin de l'interpréteur Python utilisé par Ansible
  ansible.builtin.debug:
    var: ansible_python_interpreter
  
- name: Activer la persistance (linger) pour admin_db
  ansible.builtin.command: "loginctl enable-linger admin_db"
  args:
    creates: /var/lib/systemd/linger/admin_db
