global:
  checkNewVersion: true
  sendAnonymousUsage: false

entryPoints:
  web:
    address: ":8088"
    # http:
      # redirections:
        # entryPoint:
          # to: websecure
          # scheme: https
          # permanent: true
  websecure:
    address: ":8443"
    # http:
      # tls: true
  monitoring:
    address: ":3000"

providers:
  file:
    directory: /etc/traefik
    watch: true
  docker:
    endpoint: "unix:///var/run/docker.sock"
    network: app_network
    watch: true


log:
  level: DEBUG
  filePath: logs/traefik.log

accessLog:
  filePath: logs/access.log
  format: "json"

api:
  dashboard: true
  insecure: true

http:
  middlewares:
    redirect-to-https:
      redirectScheme:
        scheme: https
        port: 8443
        permanent: true
  routers:
    app:
      entryPoints:
        - web
      # rule: Host(`app.local`)
      rule: Host(`192.168.56.11`)
      # middlewares:
        # - redirect-to-https
      service: app

    monitoring:
      entryPoints:
        - monitoring
      # rule: Host(`netdata.local`)
      rule: Host(`192.168.56.11`)
      service: netdata

    app-secure:
      entryPoints:
        - websecure
      # rule: Host(`app.local`)
      rule: Host(`192.168.56.11`)
      service: app
      tls: {}
      # tls:
        # store: default

  services:
    app:
      loadBalancer:
        servers:
          - url: http://app:80/
        passHostHeader: true

    netdata:
      loadBalancer:
        servers:
          - url: http://netdata:19999/
        passHostHeader: true

tls:
  stores:
    default:
      defaultCertificate:
        certFile: "/etc/traefik/traefik.crt"
        keyFile: "/etc/traefik/traefik.key"

# certificatesResolvers:
#   letsencrypt:
#     acme:
#       email: you@example.com
#       storage: /acme.json
#       httpChallenge:
#         entryPoint: web