global:
  checkNewVersion: true
  sendAnonymousUsage: false

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
  monitoring:
    address: ":3000"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    network: app_network
    watch: true

log:
  level: DEBUG
  filePath: logs/traefik.log

accessLog:
  filePath: logs/access.log
  format: "json"

api:
  dashboard: true
  insecure: true

http:
  routers:
    app:
      entryPoints:
        - web
      rule: Host(`app.local`)
      service: app

    monitoring:
      entryPoints:
        - monitoring
      rule: Host(`netdata.local`)
      service: netdata


  services:
    app:
      loadBalancer:
        servers:
          - url: http://app:80/
        passHostHeader: true

    netdata:
      loadBalancer:
        servers:
          - url: http://netdata:19999/
        passHostHeader: true


certificatesResolvers:
  letsencrypt:
    acme:
      email: you@example.com
      storage: /acme.json
      httpChallenge:
        entryPoint: web