- name: Récupérer l'UID de admin_db
  ansible.builtin.command: id -u admin_db
  register: admin_db_uid
  changed_when: false

- name: Copier les fichiers Docker Compose selon la VM
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: vagrant
    group: vagrant
    mode: '0644'
  loop:
    - { src: 'docker-compose.master.yaml', dest: '/tmp/docker-compose.master.yaml', host: 'vm1' }
    - { src: 'docker-compose.replica.yaml', dest: '/tmp/docker-compose.replica.yaml', host: 'vm2' }
  when: inventory_hostname == item.host

# Utilisation de community.docker.docker_compose pour utiliser l'idempotence de ansible
- name: Déployer le master PostgreSQL via docker_compose
  become: true
  become_user: "{{ docker_user }}"
  community.docker.docker_compose_v2:
    project_src: /tmp
    files:
      - docker-compose.master.yaml
    state: present
    docker_cli: "/home/{{ docker_user }}/bin/docker"
    docker_host: "unix:///run/user/{{ admin_db_uid.stdout }}/docker.sock"
  when: inventory_hostname == 'vm1'
  
- name: Déployer le replica PostgreSQL via docker_compose
  become: true
  become_user: "{{ docker_user }}"
  community.docker.docker_compose_v2:
    project_src: /tmp
    files:
      - docker-compose.replica.yaml
    state: present
    docker_cli: "/home/{{ docker_user }}/bin/docker"
    docker_host: "unix:///run/user/{{ admin_db_uid.stdout }}/docker.sock"
  when: inventory_hostname == 'vm2'

- name: Vérifier que le container master est en ligne
  community.docker.docker_container_info:
    name: pg_master
    docker_host: "unix:///run/user/{{ admin_db_uid.stdout }}/docker.sock"
  register: master_info
  when: inventory_hostname == 'vm1'

- name: Debug info master
  debug:
    var: master_info
  when: inventory_hostname == 'vm1'

- name: Vérifier que le container replica est en ligne
  community.docker.docker_container_info:
    name: pg_replica
    docker_host: "unix:///run/user/{{ admin_db_uid.stdout }}/docker.sock"
  register: replica_info
  when: inventory_hostname == 'vm2'

- name: Debug info replica
  debug:
    var: replica_info
  when: inventory_hostname == 'vm2'
