- name: Vérifier que le groupe docker existe
  ansible.builtin.shell: getent group docker
  register: docker_group_check
  ignore_errors: yes

- name: Retirer admin_db du groupe docker
  ansible.builtin.command: gpasswd -d admin_db docker
  when: docker_group_check.rc == 0
  ignore_errors: true

- name: Créer le groupe 'webservices' s'il n'existe pas
  ansible.builtin.group:
    name: webservices
    state: present

- name: Ajouter l'utilisateur admin_db au groupe webservices
  ansible.builtin.user:
    name: admin_db
    groups: webservices
    append: yes

- name: Sécuriser le répertoire home de admin_db
  ansible.builtin.file:
    path: /home/admin_db
    owner: admin_db
    group: webservices
    mode: '0750'
    state: directory

- name: Créer les répertoires logs et scripts
  ansible.builtin.file:
    path: "/home/admin_db/{{ item }}"
    state: directory
    owner: admin_db
    group: webservices
    mode: '0755'
  loop:
    - logs
    - scripts
