name: Deploy infra IaaS

on:
  push:
    branches:
      - dev
      - stg
      - prod
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Déterminer l'environnement
      id: set-env

      run: |
        if [[ "$GITHUB_REF" == "refs/heads/dev" ]]; then
          echo "ENV_NAME=dev" >> $GITHUB_ENV
        elif [[ "$GITHUB_REF" == "refs/heads/ansible" ]]; then
          echo "ENV_NAME=dev" >> $GITHUB_ENV
        elif [[ "$GITHUB_REF" == "refs/heads/stg" ]]; then
          echo "ENV_NAME=stg" >> $GITHUB_ENV
        elif [[ "$GITHUB_REF" == "refs/heads/main" ]]; then
          echo "ENV_NAME=prod" >> $GITHUB_ENV
        else
          echo "Branche non gérée"
          exit 1
        fi

    - name: Installation de Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_wrapper: false
    
    # Le terraform s'occupe de crée les ressources et executer le ansible
    - name: Déploiement de l'infrastructure (Terraform)
      id: terraform
      working-directory: infra
      env:
        ARM_SUBSCRIPTION_ID: ${{ secrets.SUBSCRIPTION_ID }}
        ARM_CLIENT_ID:       ${{ secrets.CLIENT_ID }}
        ARM_CLIENT_SECRET:   ${{ secrets.CLIENT_SECRET }}
        ARM_TENANT_ID:       ${{ secrets.TENANT_ID }}
      run: |
        terraform init -backend-config=envs/${{ env.ENV_NAME }}/backend.tf
        terraform apply -auto-approve -var-file="envs/${{ env.ENV_NAME }}/terraform.tfvars"
