name: Deploy infra IaaS

on:
  push:
    branches:
      - dev
      - stg
      - prod
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Déterminer l'environnement
      id: set-env

      run: |
        if [[ "$GITHUB_REF" == "refs/heads/dev" ]]; then
          echo "ENV_NAME=dev" >> $GITHUB_ENV
        elif [[ "$GITHUB_REF" == "refs/heads/stg" ]]; then
          echo "ENV_NAME=stg" >> $GITHUB_ENV
        elif [[ "$GITHUB_REF" == "refs/heads/main" ]]; then
          echo "ENV_NAME=prod" >> $GITHUB_ENV
        else
          exit 1
        fi
    
    - name: Azure CLI Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Extract Azure credentials for Terraform
      id: azure-creds
      run: |
        CREDS='${{ secrets.AZURE_CREDENTIALS }}'
        CLIENT_ID=$(echo $CREDS | jq -r '.clientId')
        CLIENT_SECRET=$(echo $CREDS | jq -r '.clientSecret')
        SUBSCRIPTION_ID=$(echo $CREDS | jq -r '.subscriptionId')
        TENANT_ID=$(echo $CREDS | jq -r '.tenantId')

        echo "::add-mask::$CLIENT_SECRET"

        echo "ARM_CLIENT_ID=$CLIENT_ID" >> $GITHUB_ENV
        echo "ARM_CLIENT_SECRET=$CLIENT_SECRET" >> $GITHUB_ENV
        echo "ARM_SUBSCRIPTION_ID=$SUBSCRIPTION_ID" >> $GITHUB_ENV
        echo "ARM_TENANT_ID=$TENANT_ID" >> $GITHUB_ENV

    - name: Ensure backend exists
      env:
        LOCATION: westeurope
        RESOURCE_GROUP: rg-stg_10
        STORAGE_ACCOUNT: tfstatebackendsammuel2
      run: |
        az storage account create -n ${{ env.STORAGE_ACCOUNT }} -g ${{ env.RESOURCE_GROUP }} -l ${{ env.LOCATION }} --sku Standard_LRS || true
        az storage container create --account-name ${{ env.STORAGE_ACCOUNT }} --name tfstate --auth-mode login || true

    - name: Generate SSH key
      run: |
        ssh-keygen -t rsa -b 4096 -f id_rsa -N ""
        echo "::add-mask::$(cat id_rsa)"
        echo "::add-mask::$(cat id_rsa.pub)"
        echo "TF_VAR_ssh_public_key=$(cat id_rsa.pub)" >> $GITHUB_ENV
        echo "SSH_PRIVATE_KEY_PATH=$(pwd)/id_rsa" >> $GITHUB_ENV

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.9.8
        terraform_wrapper: false

    - name: Clean Terraform state for VM
      working-directory: infra
      run: |
        terraform init -backend-config=envs/${{ env.ENV_NAME }}/backend.tfvars
        terraform state rm module.vm.azurerm_linux_virtual_machine.vm || true

    # Le terraform s'occupe de crée les ressources et executer le ansible
    - name: Déploiement de l'infrastructure (Terraform)
      id: terraform
      working-directory: infra
      env:
        ARM_CLIENT_ID:       ${{ env.ARM_CLIENT_ID }}
        ARM_CLIENT_SECRET:   ${{ env.ARM_CLIENT_SECRET }}
        ARM_SUBSCRIPTION_ID: ${{ env.ARM_SUBSCRIPTION_ID }}
        ARM_TENANT_ID:       ${{ env.ARM_TENANT_ID }}

        TF_VAR_env_name: ${{ env.ENV_NAME }}
        TF_VAR_ssh_public_key:  ${{ env.TF_VAR_ssh_public_key }}
      run: |
        terraform import -var-file="envs/${{ env.ENV_NAME }}/terraform.tfvars" module.vm.azurerm_linux_virtual_machine.vm /subscriptions/6b9318b1-2215-418a-b0fd-ba0832e9b333/resourceGroups/rg-stg_10/providers/Microsoft.Compute/virtualMachines/vm-stg-${{ env.ENV_NAME }}
        terraform apply -auto-approve -var-file="envs/${{ env.ENV_NAME }}/terraform.tfvars"

    - name: Get VM Public IP
      id: get_public_ip
      working-directory: infra
      env:
        ARM_CLIENT_ID:       ${{ env.ARM_CLIENT_ID }}
        ARM_CLIENT_SECRET:   ${{ env.ARM_CLIENT_SECRET }}
        ARM_SUBSCRIPTION_ID: ${{ env.ARM_SUBSCRIPTION_ID }}
        ARM_TENANT_ID:       ${{ env.ARM_TENANT_ID }}
      run: |
        PUBLIC_IP=$(terraform output -raw public_ip_vm)
        echo "public_ip=$PUBLIC_IP" >> $GITHUB_OUTPUT

    - name: Setup Python environment
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install Ansible
      run: pip install ansible

    - name: Configure SSH
      run: |
        mkdir -p ~/.ssh
        cp "${{ env.SSH_PRIVATE_KEY_PATH }}" ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H ${{ steps.get_public_ip.outputs.public_ip }} >> ~/.ssh/known_hosts

    - name: Install Python 3.9 on VM
      run: |
        ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa azureuser@${{ steps.get_public_ip.outputs.public_ip }} << 'EOF'
          sudo apt update
          sudo apt install -y software-properties-common
          sudo add-apt-repository ppa:deadsnakes/ppa -y
          sudo apt update
          sudo apt install -y python3.9 python3.9-venv python3.9-distutils python3.9-dev
        EOF

    - name: Run Ansible Playbook
      run: |
        echo "[vms]" > temp_inventory
        echo "${{ steps.get_public_ip.outputs.public_ip }} ansible_user=azureuser ansible_private_key_file=~/.ssh/id_rsa ansible_python_interpreter=/usr/bin/python3.9" >> temp_inventory
        ansible-playbook ansible/playbook.yml -i temp_inventory -e ansible_python_interpreter=/usr/bin/python3.9
      working-directory: .
            
    - name: Cleanup SSH key
      run: rm -f private_key.pem
