name: Deploy infra IaaS

on:
  push:
    branches:
      - dev
      - stg
      - prod
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
      
    env:
      # Ces variables seront remplies APRÈS extraction
      ARM_CLIENT_ID: ""
      ARM_CLIENT_SECRET: ""
      ARM_SUBSCRIPTION_ID: ""
      ARM_TENANT_ID: ""

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Déterminer l'environnement
      id: set-env

      run: |
        if [[ "$GITHUB_REF" == "refs/heads/dev" ]]; then
          echo "ENV_NAME=dev" >> $GITHUB_ENV
        elif [[ "$GITHUB_REF" == "refs/heads/stg" ]]; then
          echo "ENV_NAME=stg" >> $GITHUB_ENV
        elif [[ "$GITHUB_REF" == "refs/heads/main" ]]; then
          echo "ENV_NAME=prod" >> $GITHUB_ENV
        else
          echo "Branche non gérée"
          exit 1
        fi
    
    - name: Azure CLI Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Extract Azure credentials for Terraform
      id: azure-creds
      run: |
        CREDS='${{ secrets.AZURE_CREDENTIALS }}'
        CLIENT_ID=$(echo $CREDS | jq -r '.clientId')
        CLIENT_SECRET=$(echo $CREDS | jq -r '.clientSecret')
        SUBSCRIPTION_ID=$(echo $CREDS | jq -r '.subscriptionId')
        TENANT_ID=$(echo $CREDS | jq -r '.tenantId')

        echo "::add-mask::$CLIENT_SECRET"

        echo "ARM_CLIENT_ID=$CLIENT_ID" >> $GITHUB_ENV
        echo "ARM_CLIENT_SECRET=$CLIENT_SECRET" >> $GITHUB_ENV
        echo "ARM_SUBSCRIPTION_ID=$SUBSCRIPTION_ID" >> $GITHUB_ENV
        echo "ARM_TENANT_ID=$TENANT_ID" >> $GITHUB_ENV
    
    - name: Generate SSH key
      run: |
        ssh-keygen -t rsa -b 4096 -f id_rsa -N ""
        echo "TF_VAR_ssh_public_key=$(cat id_rsa.pub)" >> $GITHUB_ENV

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.9.8
        terraform_wrapper: false

    # Le terraform s'occupe de crée les ressources et executer le ansible
    - name: Déploiement de l'infrastructure (Terraform)
      id: terraform
      working-directory: infra
      run: |
        terraform init
        terraform apply -auto-approve -var-file="envs/${{ env.ENV_NAME }}/terraform.tfvars"
